<div class="container mt-4">
  <h1 class="mb-4">Lista de Tareas</h1>
  <div class="list-group">
    <a
      *ngFor="
        let task of tasks
          | paginate: { itemsPerPage: 15, currentPage: currentPage }
      "
      [routerLink]="['/tasks', task.id]"
      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
      [ngClass]="{ 'list-group-item-success': task.completed }"
    >
      {{ task.title }}
      <span
        class="badge badge-primary badge-pill"
        [ngClass]="{ 'badge-success': task.completed }"
      >
        {{ task.completed ? 'Completada' : 'Pendiente' }}
      </span>
    </a>
  </div>
  <pagination-controls
    (pageChange)="currentPage = $event"
    class="my-4"
  ></pagination-controls>
</div>
