<div class="container mt-4" *ngIf="task">
  <h2 class="mb-4">Editar Tarea</h2>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Título:</label>
      <input id="title" formControlName="title" class="form-control" />
    </div>
    <div class="form-check mb-3">
      <input
        id="completed"
        type="checkbox"
        formControlName="completed"
        class="form-check-input"
      />
      <label for="completed" class="form-check-label">Completada</label>
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
  </form>
</div>
